<div class="row">
  <div class="col-11 col-md-8 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>
    <div class="row">
      <div class="col-12">
        <strong><%= t('.name') %></strong><%= @template.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <strong><%= t('.body') %></strong><%= @template.body.html_safe %>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
        <%= link_to t('.edit'), edit_template_path(@template), class: 'btn btn-block btn-primary' %>
        <%= link_to t('.delete'), template_path(@template),
                    data: { confirm: t('.confirmation_message') },
                    method: :delete, class: 'btn btn-block btn-danger' %>
        <%= link_to t('.back'), templates_path, class: 'btn btn-sm btn-block btn-link' %>
      </div>
    </div>
  </div>
</div>
