<div class="row">
  <div class="col-12 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>
    <%= link_to new_newsletter_path, class: 'float-right btn btn-sm btn-primary my-2' do %>
      <%= t('.new_newsletter') %>
      <i class="fas fa-plus"></i>
    <% end %>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
        <tr>
          <th><%= t('.title') %></th>
          <th><%= t('.list') %></th>
          <th><%= t('.sender') %></th>
          <th><%= t('.template') %></th>
          <th><%= t('.sent_at') %></th>
          <th><%= t('.actions') %></th>
        </tr>
        </thead>
        <tbody>
        <% @newsletters.each do |newsletter| %>
          <tr>
            <td class="truncate" data-max-length="50" data-read-more="..."><%= newsletter.title %></td>
            <td><%= newsletter.list.name %></td>
            <td><%= newsletter.sender.name %></td>
            <td><%= newsletter.template&.name %></td>
            <td><%= newsletter.sent_at ? l(newsletter.sent_at, format: :newsletter) : '' %></td>
            <td class="actions">
              <%= link_to newsletter, class: 'btn btn-sm btn-primary' do %>
                <i class="fas fa-info-circle"></i>
              <% end %>
              <%= link_to edit_newsletter_path(newsletter), class: 'btn btn-sm btn-warning' do %>
                <i class="fas fa-pencil-alt fa-inverse"></i>
              <% end %>
              <%= link_to newsletter, method: :delete, data: { confirm: t('.confirmation_message') }, class: 'btn btn-sm btn-danger' do %>
                <i class="fas fa-trash"></i>
              <% end %>
              <%= link_to newsletter_sendings_path(newsletter), method: :post, data: { confirm: t('.confirmation_message') }, class: 'btn btn-sm btn-info' do %>
                <i class="fas fa-paper-plane"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @newsletters %>
  </div>
</div>
