<div class="row">
  <div class="col-12 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>
    <div class="row my-3">
      <div class="col-6 col-lg-3">
        <%= form_tag(recipients_path, method: :get, class: 'input-group') do %>
          <%= text_field_tag :email,
                             params[:email],
                             placeholder: t('.search'),
                             class: 'form-control rounded-left border-right-0 border',
                             type: 'search' %>
          <span class="input-group-append">
            <button class="btn btn-link border-left-0 border" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        <% end %>
      </div>
      <div class="col-6 col-lg-9">
        <%= link_to new_recipient_path, class: 'float-right btn btn-sm btn-primary' do %>
          <%= t('.new_recipient') %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
    <%= render 'shared/recipients/table', recipients: @recipients %>
  </div>
</div>
