<div class="row align-middle-form">
  <div class="col-11 col-md-5 mx-auto">
    <h4 class="my-4 text-center">
      <%= t('.header') %>
    </h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: 'on',
                          placeholder: t('activerecord.attributes.user.email'),
                          class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password,
                             autocomplete: 'off',
                             placeholder: t('activerecord.attributes.user.password'),
                             class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group custom-control custom-checkbox">
          <%= f.check_box :remember_me, class: 'custom-control-input' %>
          <%= f.label :remember_me, class: 'custom-control-label' %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit t('.login'), class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
